#about {
    margin-top: 0;
    padding-top: 0;
}

h2 {
    background-color:black;
    width: fit-content;
    height: fit-content;
}
.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.about-me-content p {
    font-size: 1.55em;
    text-align: left;
    color: rgb(255, 209, 209);
    margin-right: 40px;
    background-color: black;
    height: 80%;
    margin-top: -1%;
}
.about-me-content img {
    width: 400px;
    border-radius: 10px;
    height: 400px;
    object-fit: cover;

}