.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.project-item {
    background-color: rgb(245, 172, 172);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 200px;
    max-width: 440px;
}